<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../style.css">
	<link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
	<title>New Spots</title>
</head>
<body>
	<nav>
		<a href="/spots"><h1>Cheap Spots</h1></a>
		<div>
			<a href="/spots"><h1>Home</h1></a>
			<a href="/spots/new"><h1 style="border: 2px solid orange">Add Spot</h1></a>
		</div>
	</nav>

	<section class="first">
		<div>
			<h2><span> <%=spots.length%> </span>Places Listed</h2>
			<p>Add to the Community</p>
		</div>
	</section>
	<form action="/spots" method="POST">
		<h1>Add New</h1>
		<input type="text" name="name" placeholder="Enter your name"><br>
		 <input type="text" name="spot" placeholder="Enter your spot"><br>
		 <input type="text" name="address" placeholder="Enter the area"><br>
		<input type="text" name="rating" placeholder="Enter your rating"><br>
		<input type="submit" value="Create Spot"><br>
	</form>
</body>
</html>