<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/spots" method="POST">
		Name <input type="text" name="name">
		Spot <input type="text" name="spot">
		Address <input type="text" name="address">
		Rating <input type="text" name="rating">
		<input type="submit" value="Create Spot">
	</form>
</body>
</html>